.container {
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.state {
  position: absolute;
  right: 2px;
  bottom: 2px;
  width: 8px;
  height: 8px;
  box-sizing: content-box;
  border: 2px solid #fff;
  border-radius: 50%;
}

.normal {
  background-color: #34c448;
}

.busy {
  background-color: #e07e41;
}

.away {
  background-color: #a4b8c3;
}

.tooltipName {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  color: #333;
}

.tooltipOccupation {
  font-size: 20px;
  line-height: 26px;
  color: #666;
}

.tooltipEmailTitle {
  color: #666;
  font-weight: 600;
}

.tooltipEmail,
.tooltipEmail:hover {
  color: #74a1fb;
}
